{
	"docker_base_img_name": "{{ docker_base_img_name }}",
	"docker_base_img_distro": "{{ docker_base_img_distro }}",
	"docker_base_img_pull": "{{ docker_base_img_pull }}",
	"docker_ansible_tags": "{{ docker_ansible_tags }}",
	"docker_osb_img_export_path": "{{ docker_osb_img_export_path }}",
	"docker_osb_img_repository": "{{ docker_osb_img_repository }}",
	"docker_osb_img_tag": "{{ docker_osb_img_tag }}"
}
