---

- hosts: localhost
  roles:
    - role: abessifi.java
      java_version: 8
      java_jdk_type: 'oracle'
      oracle_jdk_rpm_package: "{{ jdk_rpm_file }}"
      rpm_download_directory: "{{ artifacts_download_directory }}"
      java_set_as_default: true

{% if 'install-sqlplus' in docker_ansible_tags %}
    - { role: abessifi.sqlplus, tags: install-sqlplus }
{% endif %}

    - role: abessifi.weblogic
      weblogic_jar_path: "{{ artifacts_download_directory }}/{{ weblogic_jar_file }}"
      weblogic_quick_installation: false
      weblogic_installation_type: 'Fusion Middleware Infrastructure'
      weblogic_domain_name: 'osb_domain'

    - role: abessifi.osb
      osb_jar_path: "{{ artifacts_download_directory }}/{{ osb_jar_file }}"
