---

- hosts: localhost
  roles:
    - role: abessifi.osb
      oracle_db_address: "{{ docker_database_service_ctn_hostname }}"
      oracle_db_port: {{ docker_database_port }}
      oracle_db_sid: "{{ docker_database_sid }}"
      oracle_db_password: "{{ docker_database_password }}"
      osb_admin_server_listen_address: "{{ docker_osb_service_ctn_hostname }}"
      osb_managed_server_listen_address: "{{ docker_osb_service_ctn_hostname }}"
